    @font-face {
        font-family: "Open Sans";
        src: url(../fonts/OpenSans-Regular.woff);
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: "Open Sans";
        src: url(../fonts/OpenSans-Bold.woff);
        font-weight: 700;
        font-style: normal;
    }
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body,
    div,
    nav,
    header,
    main,
    section,
    aside,
    footer,
    address,
    input,
    button,
    ul,
    ol,
    time,
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    
    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    
    img {
        display: block;
    }
    
    body {
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #fff;
        color: #000;
    }
    
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header,
    .footer {
        background-color: #0A0E34;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 568px;
        justify-content: space-between;
    }
    
    .header {
        background-image: url(../images/football_767.jpg);
    }
    
    .footer {
        background-image: url(../images/game_767.jpg);
        background-position: top right;
        padding-top: 100px;
        text-align: center;
    }
    
    .header::before,
    footer::before {
        content: "";
        background-color: #0A0E34;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        opacity: 0.9;
    }
    
    .logo {
        width: 133px;
        fill: #fff;
        display: inline-block;
        position: relative;
        margin: 32px;
    }
    
    .heading {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2em;
    }
    
    .heading-main {
        color: #fff;
        font-size: 1.75em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 7.5rem;
        width: 100%;
        letter-spacing: 0.05em;
    }
    
    .heading-main>span {
        display: block;
    }
    
    .heading-main-line-2 {
        margin-left: 2em;
        align-self: flex-end;
    }
    
    .heading-footer {
        align-items: center;
        margin: 0;
    }
    
    .heading-section {
        color: #ececec;
        font-size: 3.44em;
        margin-top: 0.25em;
    }
    
    .heading-item {
        color: #ccc;
        font-size: 1.44em;
        letter-spacing: 0.05em;
        margin-left: 1.2em;
    }
    
    .heading-item-pictures {
        color: #ECECEC;
        font-size: 1.75em;
        margin-top: 20px;
    }
    
    .heading-main-split {
        display: block;
        margin-top: 13px;
        margin-left: 1.5em;
        /* float: right; */
    }
    
    .links-store {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    
    .link-store {
        background-color: #5E42B0;
        color: #fff;
        font-size: 8px;
        text-transform: uppercase;
        margin-bottom: 14px;
        border-radius: 5em;
        text-decoration: none;
        display: flex;
    }
    
    .link-store-container {
        margin: auto;
        display: flex;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: left center;
        padding: 8px;
        padding-left: 28px;
        flex-direction: column;
        text-align-last: left;
    }
    
    .link-store-name {
        font-weight: 700;
    }
    
    .link-store-apple {
        background-image: url(../images/apple_logo_black.svg);
    }
    
    .link-store-google {
        background-image: url(../images/google-play.svg);
    }
    
    .section {
        position: relative;
    }
    
    .heading-section-athlets-players::after {
        content: "";
        background-repeat: no-repeat;
        background-position: bottom 0 center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 360px;
    }
    
    .heading-section-athlets::after {
        background-image: url(../images/footballer_192.png);
    }
    
    .heading-section-players::after {
        background-image: url(../images/basketballer_302.png);
    }
    
    .section-items {
        list-style-type: none;
    }
    
    .section-item {
        counter-increment: zero;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    .section-item::before {
        content: "0" counter(zero);
        margin-right: 12px;
        font-size: 0.94em;
        font-weight: 700;
        display: block;
        border-radius: 0;
        border-bottom: 4px solid #5E42B0;
        position: absolute;
    }
    
    .section-item-pictures {
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        background-color: #fff;
    }
    
    .section-item-pictures::before {
        color: #fff;
        border-bottom: 4px solid #8E7BC8;
        margin-top: 1.5em;
        margin-left: 3.1em;
        z-index: 2;
        position: absolute;
        top: 293px;
    }
    
    .section-item-pictures-text:before {
        content: "";
        width: 70px;
        height: 70px;
        background-color: #5E42B0;
        top: 293px;
        left: 20px;
        position: absolute;
    }
    
    .section-item-pictures-picture {
        width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .section-item-pictures-text {
        background-color: #fff;
        padding: 20px;
        width: 100%;
    }
    
    .section-item p {
        margin-top: 1.25em;
        flex-basis: 100%;
    }
    
    .section-athlets-players-item:first-child {
        margin-top: 230px;
        padding-top: 70px;
    }
    
    .section-athlets-players-item:nth-child(3n+1) {
        background-color: #fafafa;
    }
    
    .section-athlets-players-item:nth-child(3n+2) {
        background-color: #F5F4F9;
    }
    
    .section-athlets-players-item:nth-child(3n+3) {
        background-color: #5E42B0;
    }
    
    .section-players-item:nth-child(3n+3) {
        background-color: #090C35;
    }
    
    .section-athlets-players-item:nth-child(3n+3)::before {
        border-bottom: 4px solid #fff;
    }
    
    .section-athlets-players-item:nth-child(3n+3)::before {
        color: #9A81E1;
    }
    
    .section-athlets-players-item:nth-child(3n+3) p {
        color: #fff;
    }
    
    .section-item-pictures-be-active {
        background-image: url(../images/be-active_640.jpg);
    }
    
    .section-item-pictures-find-contact {
        background-image: url(../images/find-contact_640.jpg);
    }
    
    .section-item-pictures-work-it {
        background-image: url(../images//work-it_640.jpg);
    }
    
    .footer-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .subline-footer {
        position: relative;
        color: #ABA2CB;
        text-transform: uppercase;
        font-size: 0.875em;
        margin-bottom: 70px;
    }
    
    .icon-surface {
        position: relative;
        width: 72px;
        height: 72px;
        border-radius: 1em;
        background: #5E42B0;
        background: linear-gradient(180deg, rgba(119, 86, 215, 1) 0%, rgba(80, 55, 154, 1) 100%);
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .icon-surface>img {
        display: block;
        width: 48px;
    }
    
    @media (min-width: 641px) {
        .container {
            padding-left: 32px;
            padding-right: 32px;
        }
        .header,
        .footer {
            min-height: 960px;
        }
        .logo {
            width: 205px;
        }
        .heading-main {
            font-size: 4.375em;
            margin-bottom: 200px;
        }
        .links-store {
            flex-direction: row;
            justify-content: space-between;
        }
        .link-store {
            width: 50%;
            margin-right: 32px;
            font-size: 0.875em;
        }
        .link-store:last-child {
            margin-right: 0;
        }
        .link-store-container {
            background-size: 30px;
            padding: 18px;
            padding-left: 50px;
        }
        .heading-section,
        .heading-item-pictures {
            font-size: 5.5em;
        }
        .heading-item {
            font-size: 2em;
        }
        .section-item-pictures-picture {
            height: 580px;
        }
        .section-item::before {
            font-size: 1.5em;
        }
        .section-item-pictures-text:before {
            width: 114px;
            height: 114px;
            left: 32px;
            top: 492px;
        }
        .section-item-pictures:before {
            top: 492px;
        }
        .section-item-pictures-text {
            padding: 32px;
        }
        .header {
            background-image: url(../images/football_1280.jpg);
        }
        .footer {
            background-image: url(../images/game_1280.jpg);
        }
        .section-athlets-players-item:nth-child(3n+1) {
            background-color: #fff;
        }
        .heading-section-athlets-players::after {
            content: "";
            background-repeat: no-repeat;
            background-position: top left;
            background-size: 450px;
            right: 0;
            left: 0;
            position: absolute;
            height: 700px;
        }
        .heading-section-athlets::after {
            background-image: url(../images/footballer_497.png);
            background-position: top 0 left -140px;
        }
        .heading-section-players::after {
            background-image: url(../images/basketballer_436.png);
            background-position: top 0 right 0;
        }
        .heading-section-athlets {
            padding-left: 40%;
        }
        .heading-section {
            margin-top: 0.7em;
        }
        .section-athlets-players-item {
            padding-right: 32px;
        }
        .section-athlets-item {
            padding-left: 40%;
        }
        .section-players-item {
            padding-right: 45%;
            padding-left: 32px;
        }
        .section-athlets-players-item:first-child {
            margin-top: 0;
        }
        .section-item p {
            line-height: 1.3em;
        }
        .icon-surface {
            width: 130px;
            height: 130px;
        }
        .icon-surface>img {
            width: 100px;
        }
        .footer {
            padding-top: 125px;
        }
        .heading-footer {
            margin-bottom: 0;
        }
        .subline-footer {
            font-size: 2.5em;
        }
        .section-item-pictures-be-active {
            background-image: url(../images/be-active_960.jpg);
        }
        .section-item-pictures-find-contact {
            background-image: url(../images/find-contact_960.jpg);
        }
        .section-item-pictures-work-it {
            background-image: url(../images//work-it_960.jpg);
        }
    }
    
    @media (min-width: 1025px) {
        .logo {
            width: 190px;
        }
        .links-store {
            justify-content: center;
        }
        .link-store {
            width: 310px;
        }
        .heading-section-athlets-players::after {
            height: 800px;
        }
        .heading-section-athlets::after {
            background-image: url(../images/footballer_566.png);
        }
        .heading-section-players::after {
            background-image: url(../images/basketballer_991.png);
            background-size: 750px;
            background-position: top 0 right -140px;
        }
        .subline-footer {
            font-size: 1.875em;
        }
        .footer-icon {
            flex-direction: row;
            align-items: start;
            max-width: 1120px;
        }
        .icon-surface {
            min-width: 130px;
            margin-right: 32px;
        }
        .icon-description {
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: left;
        }
    }
    
    @media (min-width: 1120px) {
        .section-item-pictures {
            flex-direction: row;
        }
        .section-item-pictures-picture {
            width: 50%;
            height: 730px;
            background-position: center center;
        }
        .section-item-pictures-text {
            width: 50%;
            padding: 15em 6em 1em 6em;
            display: flex;
            flex-direction: column;
            justify-content: right;
            flex-wrap: wrap;
        }
        .section-item-pictures:nth-child(even) {
            flex-direction: row-reverse;
        }
        .section-item p {
            font-size: 1.25em;
        }
        .section-item-pictures::before {
            top: 16rem;
            left: calc(50% - 3.6em);
        }
        .section-item-pictures-text:before {
            top: 16rem;
            position: absolute;
            left: calc(50% - 114px / 2);
        }
    }
    
    @media (min-width: 1281px) {
        .header {
            background-image: url(../images/football_1920.jpg);
        }
        .footer {
            background-image: url(../images/game_1920.jpg);
        }
        .heading-section-athlets::after {
            background-position: top 0 left 48px;
        }
        .heading-section-players::after {
            background-position: top 0 right 48px;
        }
    }
    
    @media (min-width: 1441px) {
        .container {
            padding-left: 180px;
            padding-right: 180px;
            xmax-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
        .heading-section-athlets::after {
            background-position: top 0 left 140px;
        }
        .heading-section-players::after {
            background-position: top 0 right 180px;
        }
        .heading-section-athlets {
            padding-left: 40%;
        }
        .section-players-item {
            padding-left: 180px;
        }
    }
    
    @media (min-width: 1921px) {
        .heading-main {
            max-width: 1120px;
        }
        .wrapper {
            max-width: 1120px;
        }
        .container {
            padding-left: 30%;
            padding-right: 30%;
        }
        .section-athlets-players-item {
            padding-left: 30%;
        }
        .heading-section-athlets::after {
            background-position: top 0 left 12%;
        }
        .heading-section-players::after {
            background-position: top 0 right 24%;
        }
    }